<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        @{{ if .Data.Name }}@
        @{{ .Data.Name }}@ |
        @{{ end }}@
        Home
    </title>
    <!-- Bootstrap -->
        <style media="screen">
            @{{ .Assets.BootstrapCSS | css }}@ 
            @{{ .Assets.StylesCSS | css }}@
        </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <!-- introduction -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <legend class="text-center">API Docs</legend>
                        <p class="text-muted text-right">
                            @{{ if .Data.Username }}@
                            @{{ .Data.Username }}@
                            @{{ end }}@
                            <a href="/logout">Logout</a>
                        </p>

                        @{{ if .Data.CRUD }}@
                            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#btn_add_doc">Add
                            Documentation</button>
                            <br><br>
                        @{{ end }}@

                        @{{ if not .Data.Docs }}@
                            <p class="text-muted text-center">No API docs available!</p>
                        @{{ end }}@

                        @{{ if .Data.Message }}@
                            <small class="text-danger">@{{ .Data.Message }}@</small>
                            <br>
                        @{{ end }}@

                        @{{ if .Data.Docs }}@
                        <table class="table table-hover">
                            <tbody>
                                @{{ range $id, $d := .Data.Docs }}@
                                    <tr id="@{{ $d.Name }}@">
                                        <td><b>@{{ $d.Name }}@</b></td>
                                        <td><a href="/docs?type=html&name=@{{ $d.Name }}@">HTML</a></td>
                                        <td><a href="/docs?type=md&name=@{{ $d.Name }}@">Markdown</a></td>
                                        @{{ if $.Data.CRUD }}@
                                            <td>
                                                <a href="javascript:;" class="text-danger btn-delete-doc" data-doc-name="@{{ $d.Name }}@" >Delete</a>
                                            </td>
                                        @{{ end }}@
                                    </tr>
                                @{{ end }}@
                            </tbody>
                        </table>
                        @{{ end }}@

                    </div>
                </div>
            </div>
        </div>
        <!-- necessary sciprts -->
        <script type="text/javascript">
            @{{ .Assets.JqueryJS | js }}@
            @{{ .Assets.BootstrapJS | js }}@
            @{{ .Assets.ScriptsJS | js }}@
        </script>

        @{{ if .Data.CRUD }}@
        <!-- Modal -->
        <div id="btn_add_doc" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
        
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new API Docs</h4>
                    </div>
                    <div class="modal-body">
                        <form id="frm_add_doc" method="post" action="/upload-doc" enctype="multipart/form-data">
                            <input type="text" name="name"  id="file_name" placeholder="Enter your API docs name" required class="form-control" />
                            <br>
                            <input type="file" name="file"required class="form-control" />
                            <br>
                            <div class="form-group">
                                <input type="submit" name="btnSubmit" id="btnSubmit" value="Submit" class="btn btn-primary btn-block" />
                            </div>
                        </form>
                        <small class="text-info">*Use postman collection > 2.1</small>
                    </div>
                </div>
            </div>
        </div>
        @{{ end }}@

</body>
</html>